.bg-color1 {
  background: #e6e6e6;
}
.featured_topic p {
  color: #615f5f;
}
.featured_topic h5 {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
}

.featured_topic i {
  font-size: 40px;
  padding-right: 10px;
  color: red;
}
.featured_topic {
  display: flex;
  border-right: 1px solid #b8afaf;
}
.overlay-content h4 {
  color: white;
  font-weight: 800;
}

.features_data {
  position: relative;
  overflow: hidden;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features_data:hover .image-container img {
  transform: translateX(10px);
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 1;
}
.overlay-content h4 {
  margin: 0;
  font-size: 1.5em;
}
.overlay-content a {
  color: white;
  text-decoration: none;
}
